body {
  background-color: #e9f3fa;
}

/* LOGIN PAGE */
.log-in {
  margin: 0 auto;
  width: 220px;
  background: #ffffff;
  padding: 20px;
  color: #2b2e30;
}
.form {
  padding: 10px 20px;
  border-radius: 50px;
}
.pass {
  margin-top: 15px;
}
h4 {
  margin-bottom: 4px;
}
.btn-login {
  padding: 10px 80px;
  background-color: aqua;
}

/* Sign Up */
input{
  margin-top: 4px;
  margin-bottom: 12px;
  padding: 10px 12px;
  padding-right: 60px;
}

